---
import Button from '@components/common/Button.astro';
import TitleDivider from '@components/common/TitleDivider.astro';
import ImagesGrid from '@components/common/ImagesGrid.astro';

// Importar rutas generadas dinámicamente
import { images } from 'src/data/images/homeGallery';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<section class:list={[className]}>
  <div class='container'>
    <TitleDivider class='text-secondary mb-8'> Nosotros </TitleDivider>

    <!-- Pasar las imágenes al componente ImagesGrid -->
    <ImagesGrid class='mb-8' images={images} enableThreeColumns />
    <div class='flex justify-center'>
      <Button
        variant='secondary'
        href='https://www.facebook.com/bugambiliaplazacuernavaca/photos_albums'
        target='_blank'>Más Fotos</Button
      >
    </div>
  </div>
</section>
